:root {
  --neon: #15F4EE;
}

body {
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

div#bg-pic-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

div#bg-pic-container div#bg-pic-shade {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

div#bg-pic-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  aspect-ratio: 16/9;
  z-index: -3;
}

div#start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  border-top: 0.2rem solid var(--neon);
  border-bottom: 0.2rem solid var(--neon);
  color: var(--neon);
  -webkit-box-shadow: 0 0 0.9rem 0 var(--neon);
          box-shadow: 0 0 0.9rem 0 var(--neon);
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div#start:hover {
  background-color: green;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div#start::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
  content: "";
  height: calc(12vh * 0.7 - 0.15vh);
  aspect-ratio: 1/1;
  border-top: 0.2rem solid var(--neon);
  border-right: 0.2rem solid var(--neon);
  -webkit-box-shadow: 0 0 0.9rem 0 var(--neon);
          box-shadow: 0 0 0.9rem 0 var(--neon);
}

div#rocket-container {
  position: absolute;
  height: 10rem;
  top: 50%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
  left: 7.5%;
  width: 12%;
  height: 9vh;
  overflow: hidden;
  cursor: none;
}

div#rocket-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

div#score {
  position: absolute;
  top: 2.5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: var(--neon);
  font-size: 2rem;
}

div.box {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 0.4rem;
  background-color: var(--neon);
  border: 0.2vh solid #0077ff;
  -webkit-box-shadow: 0 0 1vh 0 var(--neon);
          box-shadow: 0 0 1vh 0 var(--neon);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: boulder;
          animation-name: boulder;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes boulder {
  0% {
    right: 0;
  }
  100% {
    right: 105%;
  }
}

@keyframes boulder {
  0% {
    right: 0;
  }
  100% {
    right: 105%;
  }
}
/*# sourceMappingURL=index.css.map */